@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h3>Login Page</h3>
@{
    if (TempData["msg"] != null)
    {
        <h6 style="color:red">@TempData["msg"]</h6>
    }
}
<div class="row">
    <div class="col-md-6">
        <form method="post">

            <div class="form-group">
                <label asp-for="Username" required></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" required></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>


</div>

<br />
<br />
@*<input id="username" asp-for="ExternalUserName" class="form-control" hidden />

    <input id="name" asp-for="Name" class="form-control" hidden />


    <script src="https://apis.google.com/js/platform.js" async defer>

    </script>



    <meta name="google-signin-client_id" content="1080331818330-dt0l5b3gvi19eogfeba9h5e0u73hh3mr.apps.googleusercontent.com">

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            document.getElementById("p1").innerHTML = "New text!";
            document.getElementById("username").innerHTML = profile.getEmail();
            document.getElementById("name").innerHTML = profile.getName();



        }
    </script>
*@